@page
@model IndexModel

<header class="bg-primary text-white text-center py-5">
    <h1>Projeto de Adoção de Animais</h1>
    <p>Adote um amigo peludo e faça a diferença em suas vidas!</p>
    <p>Encontre o seu companheiro aqui!</p>
</header>

<section class="row">
    @foreach (var animal in Model.ListAnimals) {
        <div class="card border-success text-white bg-primary col-md-4 m-1" style="max-width: 20rem; border-radius: 5px;">
            <div class="card-header text-center"><h4 class="card-title">@animal.Name</h4></div>
            <img src="@animal.Img" class="d-block user-select-none" style="max-height:200px; width: auto; height: auto;" alt="@animal.Name" title="@animal.Name" />
            <div class="card-body">
                <p class="card-text">@animal.Description</p>
                <p class="card-text">Local: @animal.Andress</p>
            </div>
            <div class="d-grid" style="margin-bottom: 10px;">
                <a class="btn btn-lg btn-success"
                type="button"
                asp-page="/Details"
                asp-route-id="@animal.Id"
                asp-route-slug="@animal.NameSlug"
                >Ver mais</a>
            </div>
        </div>
        
    }
</section>


