@page
@model IndexModel

<header class="bg-primary text-white text-center py-5">
    <h1>Projeto de Adoção de Animais</h1>
    <p>Adote um amigo peludo e faça a diferença em suas vidas!</p>
    <p>Encontre o seu companheiro aqui!</p>
</header>

<section class="row">
    @foreach (var animal in Model.ListAnimals) {
        <div class="card border-success text-white bg-primary col-md-4 mb-4" style="max-width: 20rem; margin: 5px; border-radius: 5px;">
            <div class="card-header"><h4 class="card-title">@animal.Name</h4></div>
            <img src="@animal.Img" class="d-block user-select-none" style="max-height:200px; width: auto; height: auto;" alt="@animal.Name" title="@animal.Name" />
            <div class="card-body">
                <p class="card-text">@animal.Description</p>
                <p class="card-text">Local: @animal.Andress</p>
                <h6 class="card-subtitle text-muted"><a href="@animal.Url" class="card-link">@animal.Url</a></h6>
            </div>
        </div>
    }
</section>


